<p style="color: green"><%= notice %></p>

<%= render @memo %>

<div>
  <%= link_to "編集", edit_memo_path(@memo) %> |
  <%= link_to "戻る", memos_path %>

  <%= button_to "削除", @memo, method: :delete %>
</div>
